<%- include('partials/header.ejs') %>

<div id="indexPage">
    <div id="welcomeText">
        <span>Welcome to Login/Signup using MongoDB</span>
    </div>
    <br>
    <div id="indexOptions">
        <button id="indexButtons" onclick="location.href='/login'" type="button">Login</button>
        <br>
        <button id="indexButtons" onclick="location.href='/signup'" type="button">Signup</button>
    </div>
</div>

<%- include ('partials/footer.ejs') %>